body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-hover>tbody>tr:hover{
	background-color: #d9edf7;
}

.map{
	height:300px;
	width:100%;
}

@media (min-width: 768px){
	.map{
		height: 500px;
	}
}

@media (min-width: 992px){
	.map{
		height: 800px;
	}
}

