<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<input type="text" ng-model="selected" placeholder="Välj ort" uib-typeahead="location as location.name for location in locations | filter:$viewValue | limitTo:8" typeahead-on-select="getWeather($item)"class="form-control">
			<h1>{{selected.name}}</h1>
			<div class="weather-report" ng-repeat="(k, v) in weatherReport.dates">
				<div class="weather-day">
					<span>{{v.label}}</span>
				</div>
				<div class="weather-temp">
					<span>Temperatur:</span>
					<span>Max: {{v.tempMax}}</span>
					<span>Min: {{v.tempMin}}</span>
				</div>
				<div class="weather-windspeed">
					<span>Vindhastighet: {{v.windSpeedAverage}}</span>
				</div>
				<div class="weather-winddirection">
					<span>Vindriktning</span>
				</div>
				<div class="weather-airpressure">
					<span>Lufttryck: {{v.airPressureAverage}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<openlayers ol-center="center" height="800px" width="100%"></openlayers>
		</div>
	</div>
</div>
